
/* GENERAL */
   
html{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image:url(../assets/Accueil.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}


body{
  margin: 0;
}


.body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 80vh;
  background-color: #FFFFFF;
  color: #1E1E1E;
  font-family: GeosansLight;
  box-shadow: 0 0 10px #ffffff;
  overflow: scroll;
}


::selection{
  background-color: #000000;
  color: #FFFFFF;
}

::-moz-selection {
  background-color: #000000;
  color: #FFFFFF;
}


::placeholder{
  font-family: GeosansLight;
  color: #FFFFFF;
}


::-webkit-scrollbar{
  display: none;
}


@font-face{
  font-family: GeosansLight;
  src: url("police/geo_sans_light/GeosansLight.ttf")
}


@font-face{
  font-family: Leiko;
  src: url("police/leixo/LEIXO-DEMO.ttf")
}


/* HEADER */


  header{
      width: 100%;
      height: 12vh;
      background-color: #fc9191;
  }


  header nav{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 12vh;
  }


  header nav ul{
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style-type: none;
      padding: 0;
  }


  header nav li{
      padding: 10px 25px;
      margin: 0 5px;
  }


  header nav li a{
      font-size: 23px;
      color: #FFFFFF;
      text-decoration: none;
      transition: transform .2s;
  }


  header nav li a:hover{
      color: #000000;
      transform: scale(1.5);
      border-bottom: solid 1px #000000;
  }


  header nav img{
      width: 10vh;
  }



/* ACCEUIL */


#accueil{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:url(../assets/Accueil.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#accueil h2{
  padding: 20px;
  text-align: center;
  font-size: 70px;
  font-family: Leiko;
  color: #FFFFFF;
  text-shadow: 0 0 10px #000000;
}


/* LIVRE D'OR */


#livre_or{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}


#ajout_commentaire{
  display: block;
  width: 50%;
  background-color: #22a1b0;
  padding: 10px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
}


.commentaire{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10px;
}


.commentaire_1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  border-bottom: solid 1px #000000;
}


.commentaire_1 h3{
  margin: 0;
  padding: 0;
  font-size: 15px;
}


.commentaire_2{
  padding: 5px;
}


/* COMMENTAIRE */


#formulaire{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#formulaire h2{
  width: 60vw;
  padding: 15px;
  margin: 20px;
  font-size: 1.2vw;
  background-color: #22a1b0;
  font-family: GeosansLight;
  border: 0px;
  color: #FFFFFF;
  text-align: center;
}


#formulaire form{
  width: 60vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formulaire input[type=submit]{
  cursor: pointer;
}


#formulaire_2{
  width: 100%;
  height: 30vh;
  padding: 15px;
  margin: 20px;
  font-size: 1.2vw;
  background-color: #959595;
  font-family: GeosansLight;
  border: 0px;
  color: #FFFFFF;
  box-sizing: content-box;
}


#formulaire_3{
  width: 100%;
  padding: 15px;
  margin: 20px;
  font-size: 1.2vw;
  background-color: #22a1b0;
  font-family: GeosansLight;
  border: 0px;
  color: #FFFFFF;
  box-sizing: content-box;
}


/* INSCRIPTION */


#inscription{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#inscription form{
  width: 40vw;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inscription input[type=submit]{
  cursor: pointer;
}


.inscription_2{
  width: 100%;
  padding: 15px;
  margin: 20px;
  font-size: 1.2vw;
  background-color: #959595;
  font-family: GeosansLight;
  border: 0px;
  color: #FFFFFF;
  box-sizing: content-box;
}


.inscription_3{
  background-color: #22a1b0;
}


/* CONNEXION */


#connexion{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#connexion form{
  width: 40vw;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#connexion input[type=submit]{
  cursor: pointer;
}


.connexion_2{
  width: 100%;
  padding: 15px;
  margin: 20px;
  font-size: 1.2vw;
  background-color: #959595;
  font-family: GeosansLight;
  border: 0px;
  color: #FFFFFF;
  box-sizing: content-box;
}


.connexion_3{
  background-color: #22a1b0;
}


/* PROFIL */


#compte{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#compte form{
  width: 40vw;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#compte input[type=submit]{
  cursor: pointer;
}

#compte label{
  width: 100%;
  margin: auto;
}


.compte_2{
  width: 100%;
  padding: 15px;
  margin: 20px;
  font-size: 1.2vw;
  background-color: #959595;
  font-family: GeosansLight;
  border: 0px;
  color: #FFFFFF;
  box-sizing: content-box;
}


.compte_3{
  background-color: #22a1b0;
}
